<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="serverAddress" value="SZC062\SQLEXPRESS"/>
    <add key="account" value="sa"/>
    <add key="pwd" value="123456"/>
    <add key="database" value="MBlog"/>

    <add key="namespace" value="Entity"/>
    <add key="prefix" value="dt_"/>
    <add key="filepath" value="E:/Entity"/>
    <add key="connectionStr" value="Data Source=SZC062\SQLEXPRESS;User Id=sa;Password=123456;Initial Catalog=Mblog;"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>